.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "CabinetGrotesk-Black", sans-serif;
  font-weight: 700;
}

.modal__content {
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 34px 36px;
  position: relative;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* .modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/close.svg");
  height: 16px;
  width: 16px;
  border: none;
} */
.modal__close-button {
  border: none;
  background-image: url(../images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.submit_button {
  height: 36px;
  width: 124px;
  background-color: black;
  color: white;
  border-radius: 5px;
  justify-content: center;
  align-self: center;
}
.submit_button:hover {
  background-color: gray;
  cursor: pointer;
}
.submit_button:disabled {
  background-color: lightgray;
}
