.modal {
  font-family: "Cabinet Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.preview_close-btn {
  border: none;
  background-image: url(../../images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  justify-content: flex-end;
  top: 24px;
  right: 24px;
}
.delete__button {
  background: none;
  border-radius: 5px;
  color: orange;
  border: none;
  position: absolute;
  justify-content: flex-end;
}
.modal__image {
  width: 100%;
}
